html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

body {

}

.background {
  padding-bottom: 40px;
}

.brand-logo {
  height: 40px;
  width: 40px;
  padding-top: 0;
  margin-top: 5px;
}

.in-feed-photo {
  width: 100%;
  max-width: 750px;
}

.mt-4 {
  margin-top: 4em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-1 {
  margin-top: 1em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.ml-2 {
  margin-left: 2em !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

section {
  padding-bottom: 40px;
}

section h1 {
  font-weight: 900;
}

section h2 {
  font-weight: 900;
}

section h3 {
  font-weight: 900;
}

.registration-form-link {
  margin-top: 15px;
}

.social-block {
  height: 250px;
}

.social-block i {
  margin-top: 96px;
  vertical-align: middle;
  font-size: 60px;
  color: #eee;
}

.facebook {
  background-color: #3B5998;
}

.yelp {
  background-color: #c41200;
}

.instagram {
  background-color: #7fdb6a;
}

section p {
  font-size: 22px;
}

.company-title {
  display: inline-block;
  font-size: 28px;
  margin-left: 15px;
  vertical-align: middle;

}

.content {
  margin-top: 100px;
}

.logo-banner {
  width: 80%;
  max-width: 500px;
}

.banner {
  width: 100%;
  max-width: 1000px;
}


.gallery .gallery-photo {
  margin-top: 20px;
  width: 100%;
  max-width: 750px;
  height: auto;
}

.contact-form {
  padding: 30px 50px 0 50px;
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.contact-phone {
  margin-left: 10px;
}

.footer {
  margin-top: 200px;
  height: 400px;
  background-color: black;
  color: #eee;
  position: relative;
}

.footer i {
  margin-right: 10px;
}

.footer .contact-item {
  padding-top: 20px;
}

.footer a {
  color: #eee;
  text-decoration: none;
}
